.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-4);
}

